<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoftcom:asm.v1">
      <probing privatePath="D:\Khrolenko\C#\MainAcademy\PART_2\Module_01\Lesson_01\Hello_Assemblies\v2\PersonLibraryTest\PersonLibraryTest\bin\Debug\Libraries\Libraries"/>
    </assemblyBinding>
  </runtime>
</configuration>